/******** Variable styles ********/
:root {
    --theme-color: #87bd6c;
    --foreground-color: #000000;
    --background-color: #ffffff;
    --container-color: #e0e0e0;
    --border-color: #808080;
}



/******** Default styles ********/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



/******** Body styles ********/
body {
    font-family: Arial, Helvetica, sans-serif;
    touch-action: manipulation;
    background-color: var(--background-color);
    color: var(--foreground-color);
    margin-bottom: 80px;
}
#app {
    width: 100%;
}
header {
    background-color: var(--theme-color);
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
main>div {
    margin: 10px;
}
#jsError {
    text-align: center;
    color: red;
    font-weight: normal;
    font-size: 20px;
}
footer {
    width: 100%;
    background-color: var(--background-color);
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding: 5px;
}



/******** Element styles ********/
h2 {
    text-align: center;
    margin: 5px;
    font-size: 20px;
}
input, textarea, select, button {
    color: var(--foreground-color);
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}
input, select {
    padding: 2px;
    margin: 2px;
}
button {
    height: 27px;
    padding: 5px;
    cursor: pointer;
}
button:hover:enabled:not(.removeItem) {
    background-color: var(--container-color);
}
textarea:focus, input:focus {
    border: 1px solid var(--foreground-color);
}



/******** Grade styles ********/
#finalGrade div {
    padding: 10px;
    color: #000000;
    font-weight: bold;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#gradePercentage {
    overflow: hidden;
}
#gradeLetter {
    margin-left: 10px;
}
.letter-a {
    background-color: #87BD6C;
}
.letter-b {
    background-color: #CFE7FF;
}
.letter-c {
    background-color: #FFFF8D;
}
.letter-d {
    background-color: #F9AC48;
}
.letter-f {
    background-color: #EF3D3D;
}
.letter-na {
    background-color: #808080;
}



/******** Item styles ********/
#finalGrade, #assignments, #categories {
    background-color: var(--container-color);
}
table {
    margin: 5px;
}
table thead {
    text-align: center;
}
input[type=number] {
    width: 50px;
}
.removeItem, .dark .removeItem {
    color: var(--foreground-color);
    background-color: var(--container-color);
    border: none;
    padding: 0px;
    margin: 5px;
    cursor: pointer;
}



/******** JSON importer styles ********/
#importContainer {
    max-width: 300px;
    background-color: var(--container-color);
    padding: 10px;
}
#importContainer p {
    text-align: justify;
    margin-bottom: 10px;
}
#importBox {
    width: 100%;
    resize: none;
    margin-bottom: 10px;
}
#importButtons {
    text-align: left;
}
#importParseButton {
    float: right;
}



/******** Dark styles ********/
body.dark {
    --theme-color: #587c46;
    --foreground-color: #e0e0e0;
    --background-color: #16181a;
    --container-color: #26282a;
    --border-color: #606060;
}
.dark a {
    color: #0080ff;
}
.dark .letter-a {
    background-color: #587c46;
}
.dark .letter-b {
    background-color: #6b9ccc;
}
.dark .letter-c {
    background-color: #d4d454;
}
.dark .letter-e {
    background-color: #e0932e;
}
.dark .letter-f {
    background-color: #ce2c2c;
}
.dark .letter-na {
    background-color: #808080;
}
