/******** Variable styles ********/
:root {
    --theme-color: #87bd6c;
    --foreground-color: #000000;
    --background-color: #ffffff;
    --container-color: #f0f0f0;
    --add-button-color: #e0e0e0;
    --border-color: #808080;
}



/******** Body styles ********/
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    touch-action: manipulation;
    margin-top: 80px;
    background-color: var(--background-color);
    color: var(--foreground-color);
    margin-bottom: 80px;
}

h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

#title {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: var(--theme-color);
}

h3 {
    margin-bottom: 5px;
}

footer {
    position: fixed;
    bottom: 0px;
    padding: 5px;
    width: 100%;
    background-color: var(--background-color);
}



/******** Element styles ********/
input, textarea, select, button {
    color: var(--foreground-color);
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}

button {
    height: 25px;
    cursor: pointer;
}

button:hover:enabled:not(.assignmentRemove):not(.categoryRemove) {
    background-color: var(--add-button-color);
}

textarea:focus, input:focus {
    border: 1px solid var(--foreground-color);
}



/******** Grade styles ********/
#grade {
    width: 120px;
    padding: 10px;
    border: 1px solid var(--foreground-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--foreground-color);
}

#gradePercentage {
    overflow: hidden;
}

#gradeLetter {
    margin-left: 10px;
}

.letterA {
    background-color: #87BD6C;
}

.letterB {
    background-color: #CFE7FF;
}

.letterC {
    background-color: #FFFF8D;
}

.letterD {
    background-color: #F9AC48;
}

.letterF {
    background-color: #EF3D3D;
}



/******** Item styles ********/
#assignments, #categories {
    margin: auto;
    background-color: var(--container-color);
    padding: 5px;
}

input[type=number] {
    width: 50px;
}

.assignmentRemove, .categoryRemove, .dark .assignmentRemove, .dark .categoryRemove {
    color: var(--foreground-color);
    background-color: var(--container-color);
    border: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

#addAssignment, #addCategory {
    display: inline-block;
    margin-top: 10px;
    padding: 0px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 40px;
    background-color: var(--add-button-color);
    border: none;
    border-radius: 50%;
    cursor: pointer
}



/******** JSON importer styles ********/
#importContainer {
    margin: auto;
    width: 275px;
    background-color: var(--container-color);
    padding: 10px;
}

#importBox {
    width: 100%;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 5px;
}

#importButtons {
    text-align: left;
}

#importParseButton {
    float: right;
}



/******** Dark styles ********/
body.dark {
    --theme-color: #597b37;
    --foreground-color: #e0e0e0;
    --background-color: #121416;
    --container-color: #323436;
    --add-button-color: #505050;
    --border-color: #606060;
}

.dark h1, .dark #grade {
    color: #000000;
}

.dark a {
    color: #0080ff;
}
