<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Grade-Calculator</title>
        <meta name="viewport" content="width=device-width, user-scalable=no"/>
        <link rel="icon" type="image/png" href="Images/favicon-32.png">
        <link rel="apple-touch-icon" sizes="180x180" href="Images/apple-touch-icon.png">
        <link rel="stylesheet" href="index.css"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
        <script src="index.js"></script>
    </head>
    <body onload="load();">
        <div id="app">
            <header>Grade-Calculator</header>
            
            <main>
                <noscript>
                    <h1 id="jsError">You must have JavaScript enabled to run Spanish-Quizzer.</h1>
                </noscript>
                
                <div id="mainContainer" v-show="!importingJson">
                    <h2>Final Grade:</h2>
                    
                    <div id="grade" :style="{ 'background-color': color }">
                        <label id="gradePercentage">{{ percentage.toFixed(3) }}</label>
                        <label id="gradeLetter">{{ letter }}</label>
                    </div>
        
                    <h2>Categories:</h2>
                    
                    <table id="categories">
                        <thead>
                            <td>Name</td>
                            <td>Weight</td>
                            <td></td>
                        </thead>
                        <tbody v-for="(category, index) in categories">
                            <tr>
                                <td>
                                    <input type="text" v-model="category.name">
                                </td>
                                <td>
                                    <input type="number" min="0" v-model="category.weight">
                                </td>
                                <td>
                                    <button class="removeItem" @click="removeCategory(index);">╳</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div>
                        <span class="addItem" @click="addCategory();">+</span>
                    </div>
        
                    <h2>
                        Assignments:
                        <button @click="importingJson = true;">Import</button>
                    </h2>
                    
                    <table id="assignments">
                        <thead>
                            <td colspan="3">Score</td>
                            <td>Category</td>
                            <td></td>
                        </thead>
                        <tbody v-for="(assignment, index) in assignments">
                            <tr>
                                <td>
                                    <input type="number" min="0" step="any" v-model="assignment.pointsEarned">
                                </td>
                                <td>/</td>
                                <td>
                                    <input type="number" min="0" step="any" v-model="assignment.pointsPossible">
                                </td>
                                <td>
                                    <select v-model="assignment.categoryIndex">
                                        <option v-for="(category, index) in categories" :value="index">
                                            {{ category.name }}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <button class="removeItem" @click="removeAssignment(index);">╳</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div>
                        <span class="addItem" @click="addAssignment();">+</span>
                    </div>
                </div>
        
                <div id="importContainer" v-show="importingJson">
                    <h2>Paste JSON string below:</h2>
                    <p>
                        The JSON string must be an array of dictionaries.
                        Each dictionary must have properties called <code>pointsEarned</code> and <code>pointsPossible</code>.
                        The value of these properties must be either a <code>number</code>, a <code>string</code>, or <code>null</code>.
                        Comments are not allowed in the JSON string.
                    </p>
                    <textarea v-model="jsonInput" rows="15" id="importBox" autocomplete="off" spellcheck="false" autocorrect="off" autocapitalize="off"
                        placeholder="[&#010;  {&#010;    &quot;pointsEarned&quot;:9,&#010;    &quot;pointsPossible&quot;:10&#010;  },&#010;  {&#010;    &quot;pointsEarned&quot;:null,&#010;    &quot;pointsPossible&quot;:&quot;5&quot;&#010;  }&#010;]"></textarea>
                    <div id="importButtons">
                        <button @click="importingJson = false;" id="importCancelButton">Cancel</button>
                        <button @click="importJSON();" id="importParseButton">Import JSON</button>
                    </div>
                </div>
            </main>
    
            <footer>
                <a href="javascript:void 0;" @click="updateTheme(!darkTheme);">{{ darkTheme ? "Light theme" : "Dark theme"}}</a>
            </footer>
        </div>
    </body>
</html>